body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light gray text for readability */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

/*================ FOOTER ================*/

